<h1>All Books</h1>

<% @books.each do |book| %>
  <h2><%= book.title %></h2>
  <p>Authors: <%= book.authors %></p>
  <p>Pages: <%= book.pages %></p>
  <p>Year: <%= book.year %></p>
  <p> <%= book.cover_image %></p>
<% end %>
