    <header class="navbar navbar-default">
      <div class="sort container-fluid">
        <div class="navbar-header">
          <h1 class="navbar-brand">All Books   <img class="navbar-brand" src="https://www.freeiconspng.com/uploads/bible-icon-8.png" alt="Book" height="42" width="42"></h1>
        </div>
          <ul  class="nav navbar-nav" >
            <p class="active"> <%= link_to "sort by rating asc", books_path(sort: :rating, order: :asc), class:"btn btn-primary" %>
            <%= link_to "sort by rating desc", books_path(sort: :rating, order: :desc), class:"btn btn-primary" %>
            <%= link_to "sort by pages asc", books_path(sort: :pages, order: :asc), class:"btn btn-primary" %>
            <%= link_to "sort by pages desc", books_path(sort: :pages, order: :desc), class:"btn btn-primary" %>
            <%= link_to "sort by reviews asc", books_path(sort: :reviews, order: :asc), class:"btn btn-primary" %>
            <%= link_to "sort by reviews desc", books_path(sort: :reviews, order: :desc), class:"btn btn-primary" %>
          </p>
          </ul>
        </div>
      </header>
      <h2>Book Statistics</h2>
    <nav>
      <div id="statistics">
        <p class="stat">Highest Rated Books: <% @highest_rated.each do |book| %>
          <%= book.title %>:
          <%= book.avg_rating.round(1) %>
          <% end %> </p>
        <p class="stat">Lowest Rated Books: <% @lowest_rated.each do |book| %>
          <%= book.title %>:
          <%= book.avg_rating.round(1) %>
          <% end %></p>
        <p class="stat">Most Active Users: <% @most_active_user.each do |user| %>
          <%= user.user %>:
          <%= user.num_reviews %>
          <% end %></p>
      </div>
    </nav>

    <h3><%= link_to "Add Book", new_book_path, class:"btn btn-primary"%></h3>
    <!-- <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> -->

      <% @books.each do |book| %>

    <section class="books"class="flex-container">
      <div id="book-<%= book.id %>">
        <h3 class="book-title"><%= link_to "#{book.title}", book_path(book) %></h3>
        <h4 class="text">Average Rating: <%= book.average_rating %> |
        Total Reviews: <%= book.total_reviews %> </h4>
        <p class="text">Pages: <%= book.pages %></p>
        <p class="text">Year: <%= book.year %></p>
          <img class="img-thumbnail" src="<%= book.cover_image %>">
        <p class="text"><% book.authors.each do |author| %></p>
        <p class="text">Authors: <%= link_to author.name, author_path(author) %> </p>
        <% end %>
        <% end %>
      </div>
  </section>
