<h1>All Books</h1>
<div class="sort">
  <p> <%= link_to "sort by rating asc", books_path(sort: :rating, order: :asc) %> |
   <%= link_to "sort by rating desc", books_path(sort: :rating, order: :desc) %> |
   <%= link_to "sort by pages asc", books_path(sort: :pages, order: :asc) %> |
   <%= link_to "sort by pages desc", books_path(sort: :pages, order: :desc) %> |
   <%= link_to "sort by reviews asc", books_path(sort: :reviews, order: :asc) %> |
   <%= link_to "sort by reviews desc", books_path(sort: :reviews, order: :desc) %> </p>
</div>
<h2><%= link_to "Add Book", new_book_path %></h2>
<% @books.each do |book| %>
<section class="books">
<div id="book-<%= book.id %>">
  <h2 class="book-title"><%= link_to "#{book.title}", book_path(book) %></h2>
  <h3>Average Rating: <%= book.average_rating %> |
    Total Reviews: <%= book.total_reviews %> </h3>
  <p>Pages: <%= book.pages %></p>
  <p>Year: <%= book.year %></p>
<img src="<%= book.cover_image %>">
  <p><% book.authors.each do |a| %></p>
  <p>Authors: <%= a.name %> </p>
  <% end %>
<% end %>
</div>
</section>