<h1><%= @book.title %> </h1>

<h1> <%=  @book.title %></h1>
<ul>
  <li><%= @book.pages %></li>
  <li><%= @book.year %></li>
  <li> <%= @book.cover_image %> </li>
  <li> <% @book.authors.each do |a| %> </li>
  <li> <%= a.name %> </li>
<% end %>
<li> <%  @book.reviews.each do |r| %> </li>
<li> <%= r.title %> </li>
<li> <%= r.rating %></li>
<li> <%= r.description %></li>
<li> <%= r.user %></li>
<% end %>
</ul>

    <% @book.authors.each do |author| %>
    <li> <%= author.name %> </li>
    <% end %>
    <li> <%= @book.pages %> </li>
    <li> <%= @book.year %> </li>
    <li> <img src="<%= @book.cover_image %>" </li>
    <% end %>

