<h1><%= @book.title %> </h1>

    <% @book.authors.each do |author| %>
    <li> <%= author.name %> </li>
    <% end %>
    <li> <%= @book.pages %> </li>
    <li> <%= @book.year %> </li>
    <li> <img src="<%= @book.cover_image %>" </li>
    <% @book.reviews.each do |review| %>
    <li> <%= review.title %> </li>
    <li> <%= review.rating %> </li>
    <li> <%= review.user %> </li>
    <li> <%= review.description %> </li>
    <% end %>
