
<% if @review.errors.any? %>
<% @review.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
<% end %>

<div class="form">
  <%= form_for [@book, @review] do |f| %>
    <p class="text"><%= f.label :title %></br>
    <%= f.text_field :title %></p>

    <p class="text"><%= f.label :rating %></br>
    <%= f.text_field :rating %></p>

    <p class="text"><%= f.label :description %></br>
    <%= f.text_field :description %></p>

    <p class="text"><%= f.label :user %></br>
    <%= f.text_field :user %></p>

    <%= f.submit %>
  <% end %>
</div>
